  body {
    font-family: sans-serif;
    direction: rtl;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #34495e;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #ddd;
    text-align: center;
    padding: 10px;
}

li {
    margin-bottom: 10px;
}
